@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #ff914d;
    color: white;
}

body{
    background-color: transparent;
}

@media only screen and (max-width: 768px){

    .about{
        height: 100vh;
    }

    .author .name-img{
        font-size: 23px;
    }
    .image{
        width: 60%;
    }
    .author .title-container{
        font-size: 35px;
    }

    .about .title-container{
        font-size: 35px;
    }

    .about .text-container{
        font-size: 20px ;
    }

    .header  .welcome{
        font-size: 65px;
        color: "blue";
        font-style: "italic";
    }
    .footer{
        margin-top: 50px;
    }
    .header .download{
        width: 35vw;
    }
    .header .icon{
        width: 20vw;
        margin-right: 20px;
    }
    
}
@media only screen and (min-width: 768px){
    .about{
        height: 100vh;
    }
    .author .name-img{
        font-size: 23px;
    }

    .image-container #app-image{
        width: 77%;
    }

    .image{
        width: 80%;
    }
    .author .title-container{
        font-size: 48px;
    }

    .about .title-container{
        font-size: 48px;
    }

    .about .text-container{
        font-size: 27px;
    }

    .header  .welcome{
        font-size: 90px;
        font-style: "italic";
    }
    .header .download{
        width: 13vw;
    }

    .header .icon{
        width: 7vw;
        margin-right: 20px;
    }
}

.button {
    font-family: 'Ubuntu Mono', monospace;
}

.button:hover{
/*  filter: brightness(75%); */
    color: #ff914d ;
    transition: 0.5s;
    background-color: "white";
}

.header{
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),url(./assets/1740.jpg);
}

.header{
    height: 100vh;
}





.about{
    background-color: #ff6200;
}
.author{
    background-color: transparent;
    min-height: 40em;
}
.author .image-container{
    text-align: center;
}
.author .name-img{
    text-align: center;
    margin-top: 20px;
}
.author .icons{
    align-items: center;
    width: 10em;
}
.footer{
    text-align: center;
    background-color: #f8f9fa;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-size: 18px;
    color: #595959;
    
}

.icon{
    margin: 5px;
    margin-left: 6px;
}

