* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: transparent;
}
@media only screen and (max-width: 768px){
    .author .name-img{
        font-size: 23px;
    }
    .image{
        width: 60%;
    }

}
@media only screen and (min-width: 768px){
    .author .name-img{
        font-size: 23px;
    }
    .image{
        width: 80%;
    }
}
.header, .author,.about{
    height: 100vh;
}
.about{
    background-color: transparent;
}
.author{
    background-color: transparent;
}
.author .image-container{
    text-align: center;
}
.author .name-img{
    text-align: center;
    margin-top: 20px;
}
.author .icons{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 8em;
}
.footer{
    text-align: center;
    height: 2em;
    position: absolute;
    background-color: black;
    /*border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ccc;*/
    color: #595959;
}