@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /*scroll-behavior: smooth;*/
}
body{
    background-color: transparent;
}
@media only screen and (max-width: 768px){
    .author .name-img{
        font-size: 23px;
    }
    .image{
        width: 60%;
    }
    .author .title-container{
        font-size: 35px;
    }

    .about .title-container{
        font-size: 35px;
    }

    .about .text-container{
        font-size: 12px ;
    }

}
@media only screen and (min-width: 768px){
    .author .name-img{
        font-size: 23px;
    }
    .image{
        width: 80%;
    }
    .author .title-container{
        font-size: 50px;
    }

    .about .title-container{
        font-size: 50px;
    }

    .about .text-container{
        font-size: 20px ;
    }
}

.button {
    font-family: 'Ubuntu Mono', monospace;
}

.button:hover{
/*  filter: brightness(75%); */
    color: #ff914d ;
    transition: 0.5s;
    background-color: "white";
}

.header{
    position: relative;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%),url(./assets/1740.jpg);
    font-family: 'Galada', cursive;
}

.header, .about{
    height: 100vh;
}

.about{
    background-color: transparent;
}
.author{
    background-color: transparent;
    min-height: 40em;
}
.author .image-container{
    text-align: center;
}
.author .name-img{
    text-align: center;
    margin-top: 20px;
}
.author .icons{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 8em;
}
.footer{
    text-align: center;
    height: 2em;
    /*border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ccc;*/
    color: #595959;
    
}

.icon{
    margin: 5px;
    margin-left: 6px;
}

